

#main-header
{
text-align: center;
background-color:black;
color:lightyellow;
padding:25px;
}

#title
{
text-align: left;
}

#main-footer
{
text-align:center;
front-size:20px;
}

.post{
text-align: center; 
font-family: Roboto;
background-color: lightyellow;
font-size: 20px;           
}
